*{
    box-sizing: border-box;
}
/* Отмена надстроек списков и ссылок */
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Надстройка верхней панели */
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}
header{
    font-family: 'Roboto', sans-serif;
}
.header__top{
    background-color: #303030;
}
.header__btn{
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
}
.header__btn:before{
    content: "\f0b1";
    font-family: 'icomoon', serif;
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}
.header__contacts:after{
    content: "";
    clear: both;
    display:block;
}
.header__phone,
.header__email{
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}
.header__phone{
    padding-left: 20px;
    padding-right: 30px;
}
.header__phone:before{
    content: "\f095";
    font-family: 'icomoon', serif;
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header__email{
    padding-left: 24px;
}
.header__email:before{
    content: "\f0e0";
    font-family: 'icomoon', serif;
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header__content{
    padding: 34px 0 23px;
}
.header__content-inner{
    display: flex;
    justify-content: space-between;
}


/* Надстройка меню */
.menu li{
    display: inline-block;
}
.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0 16px;
    transition: all .3s;
}
.menu a:hover{
    border-color: #ffc222;
}
.menu li + li{
    padding-left: 10px;
}
#modal{
    display: none;
}

/* Надстройка содержания слайдера */
.slider{
    background-image: url(../img/slider-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.slider__item-content{
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}
.slider__title{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}
.slider__text{
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin-bottom: 50px;
}
.default-btn{
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    z-index: 2;
    outline: none;
}
.default-btn:after{
    content: "\f105";
    font-family: 'icomoon', serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50% );
    right: -12px;
}
.slider__inner{
    position: relative;
}

/* Надстройка кнопочек слайдинга */
.slick-btn{
    position: absolute;
    top: 85%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    cursor: pointer;
    outline: none;
    background-color: #ffc222;
}
.slick-btn.slick-disabled{
    cursor: default;
    background-color: transparent;
}
.slick-btn:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'icomoon', serif;
    color: #ffffff;
}
.slick-next:before{
    content: "\f105";
}
.slick-prev:before{
    content: "\f104";
}
.slick-next{
    right: 0;
}
.slick-prev{
    left: 0;

}

/* Блок под слайдером, сервисы */
.services{
    padding: 50px 0 30px;
}
.services__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.form__title-box,
.services__title-box{
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.form__title-box:before,
.services__title-box:before{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    left: 0;
    top: 11px;
}
.form__title,
.services__title{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
}
.form__text,
.services__text{
    letter-spacing: 0.1px;
}
.services__btn a{
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
}
.services__items{
    display: flex;
    justify-content: space-between;
}
.services__item{
    background-color: #f9f9f9;
    max-width: 360px;
    text-align: center;
    padding: 30px 0 80px;
    position: relative;
    min-height: 375px;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services__item-title{
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding:  24px 0;
}
.services__item-text{
    letter-spacing: 0.1px;
    padding: 0 30px 30px;
    margin-bottom: 60px;
}
.services__item-btn{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.services__item-btn .default-btn{
    color: #373636;
    margin-left: 30px;
}
.services__item-btn .default-btn:after{
    color: #ffffff;
}
.services__item-btn .about__item-link{
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #050505;
    margin-right: 30px;
}

/* Блок под сервисами */
.about{
    background-image: url(../img/slider-background2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 25px 0 45px;
}
.about__inner{
    max-width: 545px;
}
.about__title{
    padding: 10px 0 25px;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.about__text{
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: #d3d2d2;
}
.about__btn.default-btn:after{
    color: #000000;
}


.form{
    padding: 30px;
}
.form__inner{
    padding-bottom: 40px;
    background-image: url(../img/Photo.png);
    min-height: 460px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.form__box{
    max-width: 850px;
    padding-top: 45px;
}
.form__box-inner{
    display: flex;
    justify-content: space-between;
}
.form__box-left{
    max-width: 260px;
    width: 100%;
}
.form__box-right{
    max-width: 555px;
    width: 100%;
}
.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea{
    display: block;
    width: 100%;
}

.form__box-inner label{
    font-family: 'Roboto', sans-serif;
    line-height: 36px;
    color: #282828;
}
.form__box-inner input{
    margin-bottom: 8px;
    outline:  none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0 10px;
}
.form__box-inner select{
    outline:  none;
    padding: 0 10px;
}
.form__box-inner .jq-selectbox.jqselect{
    display: block;
    width: 100%;
}
.form__box-inner .jq-selectbox__select{
    height: 40px;
    border: 1px solid #e6e6e6;

    padding-left: 17px;

    box-shadow: none;
    text-shadow: none;

}
.form__box-inner .jq-selectbox__trigger-arrow:before{
    content: "\f105";
    font-family: 'icomoon', serif;
    position: absolute;
    right: 17px;
    top: 0px;
    transform: rotate(90deg);
}
.jq-selectbox__dropdown {
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    border: 1px solid #e6e6e6;
    background: #FFF;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.form__box-inner .jq-selectbox li {
    min-height: 18px;
    padding: 5px 10px 6px;
    color: #231F20;
}
.form__box-inner .jq-selectbox li.selected {
    background-color: #A3ABB1;
    color: #FFF;
}
.form__box-inner .jq-selectbox li:hover {
    background-color: #08C;
    color: #FFF;
}
.form__box-inner .jq-selectbox li.disabled {
    color: #AAA;
}
.form__box-inner .jq-selectbox li.disabled:hover {
    background: none;
}
.form__box-inner .jq-selectbox li.optgroup {
    font-weight: bold;
}
.form__box-inner .jq-selectbox li.optgroup:hover {
    background: none;
    color: #231F20;
    cursor: default;
}
.form__box-inner .jq-selectbox li.option {
    padding-left: 25px;
}
.form__box-inner textarea{
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 10px;
    height: 208px;
    resize: none;
    margin-bottom: 40px;
}
.form__box-inner button{
    background-color: transparent;
    color: #000000;
    float: right;
}